*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.allusers{
    padding: 2rem;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#user-heading{
    text-align: center;
}


#userTable,tr,td{
    text-align: center;
    padding: 2px;
    border: 2px solid;
    border-collapse: collapse;
}

.confirm-button{
 margin-left: 5px;   
}
